<nav>
  <div class="header-container">
    <span style="position: absolute; top:5px; left:5px; color:yellow;">Beta</span>
    <div class="logo-container">
      <a href="/">
        <img class="logo" src="/img/logo/elversen-logo-880x200-white.png" />
      </a>
    </div>

    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>

    <div class="links-container">
      <a href="/sma-listing">SMA'lı Liste</a>
      <a href="/about-us">Hakkımızda</a>
      <a href="/contact">İletişim</a>
      <a href="/add-sma">SMA'lı Ekle</a>
      <a href="/login">Giriş</a>
    </div>
  </div>
  <div class="mobile-links-container">
    <a href="/sma-listing">SMA'lı Liste</a>
    <a href="/about-us">Hakkımızda</a>
    <a href="/contact">İletişim</a>
    <a href="/add-sma">SMA'lı Ekle</a>
    <a href="/login">Giriş</a>
  </div>
</nav>
