<footer>
  <div class="footerContainer">
    <div class="footerInnerContainer">
      <div class="footerLeft">
        <div class="socialMediaIcons">
          <a
            class="socialMediaIcon"
            href="https://www.facebook.com/ElversenSMA/"
            target="_blank"
            rel="noreferrer"
          >
            <i class="fab fa-facebook fa-lg"></i></a
          ><a
            class="socialMediaIcon"
            href="https://www.instagram.com/elversensma/"
            target="_blank"
            rel="noreferrer"
            style="margin-left: 10px"
          >
            <i class="fab fa-instagram fa-lg"></i></a
          ><a
            class="socialMediaIcon"
            href="https://twitter.com/ElversenSMA"
            target="_blank"
            rel="noreferrer"
            style="margin-left: 10px"
          >
            <i class="fab fa-twitter fa-lg"></i></a
          ><a
            class="socialMediaIcon"
            href="https://www.linkedin.com/company/elversensma"
            target="_blank"
            rel="noreferrer"
            style="margin-left: 10px"
          >
            <i class="fab fa-linkedin fa-lg"></i
          ></a>
        </div>
      </div>
      <div class="footerRight">
        <span
          ><a class="mailLink" href="mailto:info@elversen.com"
            >info@elversen.com</a
          ></span
        >
      </div>
    </div>
  </div>
</footer>
