<div class="sidebarOuterContainer">
    <div class="sidebarInnerContainer">
      <div class="menuItem">
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </div>
  
      <div class="menuItem">
        <a href="/patients">
          <i class="fas fa-child"></i>
        </a>
        <span class="hint">SMA'lı</span>
      </div>
  
      <div class="menuItem">
        <a href="/responsibles">
          <i class="fas fa-user"></i>
        </a>
        <span class="hint">Sorumlu</span>
      </div>
  
      <div class="menuItem">
        <a href="/a/create-admin">
          <i class="fa-solid fa-address-card"></i>
        </a>
        <span class="hint">Admin Oluştur</span>
      </div>
  
      <div class="menuItem">
        <a href="/logout">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        <span class="hint">Çıkış</span>
      </div>
  
    </div>
  </div>
  