.headerContainer{
    width:100%;
    background:#76429C;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:0px 0px 20px 20px;
}
.headerInnerContainer{
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.headerItem{
    text-decoration:none;
    color:#ff6600;
    font-size:20px;
    font-weight:600;
}
.headerLang{
    width: 25%;
    cursor: pointer;
}
.pageContainer{
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
}
.innerPageContainer{
    width:90%;
    background:#f0f0f0;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top:2vh;
}
.slider{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:25vh;
    background:rgb(192, 192, 192);
    border-radius: 10px;

}
.homepageContent{
    margin: 50px 0px;
}
.footerContainer{
    width: 100%;
    background:#76429C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    border-radius:20px 20px 0px 0px;
}
.footerInnerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 0vh 0vh 0vh;
    color:#ff6600;

}
.footerLeft{
    

}
.footerRight{

}