<form
  class="forgotten-password-form"
  action="/forgotten-password"
  method="post"
>
  <input
    class="forgotten-password-form-field"
    type="email"
    name="email"
    placeholder="Email"
  />
  <button type="submit">Şifreyi sıfırla</button>
</form>

<div>
  <% if (locals.validation_error != undefined) { %> <%-
    include('../partials/_message.ejs') %> 
  <% } %>
</div>
