<div class="slider-area">
  <img class="slider" src="/img/elversen-banner.jpg" alt="banner" />
</div>
<div class="homepage-content">
  <p>Bir el versen! Bir el ver, sen!</p>
  <p>Her şey olmasa da, bir şey daha güzel olacak.</p>
  <p>Türkiye’deki tüm SMA’lı çocuklarımız bir arada.</p>
  <p>Tüm çocuklarımıza daha kolay ulaşın diye.</p>
  <a href="/about-us" class="more-details">
    <p>Daha fazla bilgi için buraya bakabilirsiniz.</p>
  </a>
</div>
