
<div>
<% if (locals.validation_error != undefined) { %>
    <%- include('../partials/_message.ejs')  %>
<% } %>
</div>

<form class="reset-password-form" action="/reset-password" method="post">
    <input type="hidden" name="id" value="<%= typeof id != 'undefined' ? id : '' %>" />
    <input type="hidden" name="token" value="<%= typeof token != 'undefined' ? token : '' %>" />
    
    <input class="reset-password-form-field" name="password" type="password" placeholder="Şifre" >
    <input class="reset-password-form-field" name="repassword" type="password" placeholder="Şifre Tekrarı">

    <button type="submit">Şifreyi sıfırla</button>
    </div>
</form>
