<div>
  <p>
    İsteğiniz bize ulaştı. Kontroller yapıldıktan sonra listeleme sayfasında
    çocuğunuzu görebileceksiniz. Mail adresinize iletilen şifre ile giriş yapıp
    güncellemeleri yapabileceksiniz.
  </p>
  <p>
    Şimdi lütfen E-posta adresinize gelen bağlantıya tıklayarak E-posta
    adresinizi onaylayınız.
  </p>
</div>
