<p class="about-us-title">Şartlar ve Koşullar</p>

<div class="about-us-paragraph">
  <p>Elversen bir gönüllü organizasyondur.</p>
</div>
<div class="about-us-paragraph">
  <p>Amaç, Türkiye’deki SMA’lı çocuklarla yardımseverleri buluşturmaktır.</p>
</div>
<div class="about-us-paragraph">
  <p>
    1. SMA’lı giriş formu valilik onayında ismi geçen veya SMA’lı çocuğumuzun
    anne-babasından birisi tarafından doldurulmalıdır. Bu kişi, bundan sonra
    “sorumlu” olarak anılacaktır.
  </p>
</div>
<div class="about-us-paragraph">
  <p>2. Sorumlu, verdiği tüm bilgilerin doğruluğundan da sorumludur.</p>
</div>
<div class="about-us-paragraph">
  <p>3. Sorumlu, verdiği tüm bilgilerin doğruluğunu Kabul eder.</p>
</div>
<div class="about-us-paragraph">
  <p>
    4. Veriler, haftalık olarak güncellenmelidir. Üst üstü iki hafta ve ayrı
    zamanlar beş hafta güncellenmeyen hesaplar askıya alınır.
  </p>
</div>
<div class="about-us-paragraph">
  <p>
    5. Sorumlu, siteye verdiği tüm bilgilerin platformumuz tarafından
    internette, sosyal medyada, tüm platformlarda ve üçüncü kişilerle
    paylaşılmasını Kabul eder.
  </p>
</div>
